// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.filter {
  display: inline-block;
  padding: 10px;
}

.message-list {
  padding: 0;
  
  li {
    list-style: none;
    padding: 5px;
  }
  li:nth-child(even) {    
    background: #efefef;
  }
}
